* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;

}
nav {
    background-color: #51c58f;
    

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top:2px solid rgba(0,0,0,0.5),
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
} 

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;

}

nav ul {
    display: none;}
nav ul.open {
    display:block;
}

img {
    max-width: 100%;
}

#hambutton span:nth-child(1) {display:block;}
#hambutton span:nth-child(2) {display: none;}

#hambutton.open span:nth-child(1) {display:none;}
#hambutton.open span:nth-child(2) {display: block;}

footer{
    background-color: #51c58f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}
header main footer {
    max-width: 100%;
    background-color: #51c58f;
    border-radius: 25px;
}

  .logo img{
    max-width: 100px;
    padding: 10px;

  }
  .social img{
      max-width: 50px;
      padding: 5px;
      
    
  }
 

.logo{
    float: left;
}
.social{
    float: right;
}

h1{
    text-align: center;
}


.content{
        margin: 20px;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 30vh 30vh 250px;
        background-color:beige;
        padding: 2px;
        text-align: solid;
        border-color: beige;
        
    }
.event{
       grid-column: 1/2;
       grid-row: 1/2;
       height: auto;
       background-color:rgb(53, 56, 55);
       color: white;
       padding: 2px;
       text-align: center;
       border-style: solid;
       border-color: beige;
   }
.weather{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(53, 56, 55);
    color: white;
    padding: 2px;
    border-style: solid;
    border-color: beige;
   }
p{
    color: white;
    font-size: 16px;
    text-align: center;

}
.join{
       display: block;
       grid-column: 1/2;
       grid-row: 3/4;
       font-size: 15px;
       background-color: rgb(53, 56, 55);
       color: white;
       padding: 2px;
       text-align: center;
       border-style: solid;
       border-color: beige;
   }
.news{
       grid-column: 2/3;
       grid-row: 3/4;
       background-color: rgb(53, 56, 55);
       color: white;
       padding: 2px;
       text-align: center;
       border-style: solid;
       border-color: beige;
   }
.spotlight {
    background-color: #4532D4;
    color: #efefef;
    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 2px;
    border-style: solid;
    border-color: beige;
 }
body{
     background-color: beige;
 }

.hero img{
    width: 100%;
    
}
.logof{
    margin-right: 5px;
    padding: 15px 5px 0 0;
    width: 50px;
    grid-column: 1;
}

.spot1{
    border-style: solid;
    border-color: beige;
}
.spot2{
    border-style: solid;
    border-color: beige;
}
.spot3{
    border-style: solid;
    border-color: beige;
}
.hero{
    border-style: solid;
    border-color: beige;
}
#currentDate{
    color: black;
}

main {
    min-width: 457px;
    margin: 10px;
    
}
h2 {
    margin: 0;
    background-color: #4532D4;
    color: #fefefe;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
}

.population {
    border: 1px solid #4532D4;
}
.population p {
    margin-left: 10px;
}

.location {
    border: 1px solid #4532D4;
}

.urban {
    border: 1px solid #4532D4;
}
.graph {
    width: 100%;
    margin-left: 0;
}
.img_gallery {
    border: 1px solid #4532D4;
}
.img_gallery h2 {
    background-color: #4532D4;
    color: #fefefe;
    padding: 5px;
    margin: 0;
}
.img_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img_content img {
    margin: 10px;
    width: 85%; 

            }