@media only screen and (min-width:64rem) {

    nav ul li a {
        padding: .5rem 1 rem;
    }
    }
    

    .content_discover {
        grid-template-columns: 70% 3
    }
    .img_gallery img {
        margin-left: 25px;
    }
    
    h1{
        text-align: center;
    }
    