@media only screen and (min-width:64rem) {

    nav ul li a {
        padding: .5rem 1 rem;
    }
    }
    

    .content_discover {
        grid-template-columns: 70% 3
    }
    .img_gallery img {
        margin-left: 25px;
    }
    
    h1{
        text-align: center;
    }

    /*join*/

    @media only screen and (min-width: 750px){
    
        #join_form_page {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .membership_container {
            display: block;
        }
        .form_container {
        grid-column: 1/2;
        margin: 10px;
        }
        .membership_container {
        grid-column: 2/3;
        margin: 10px;
        }
        .member {
        background-color: #4532D4;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        width: 100%;
        padding: 10px;
        }
        ul {
            margin: 20px;
            
        }
    }
    