
*{
    margin:0 auto;
    padding: 0;
}
body{
width: 100%;
height: auto;
margin: 0 auto;
}
header{    
    width: 100%;
    display: flex;
}
header img{
    width: 80px;
    height: auto;
    margin: 5px 5px 5px 5px;
}
.social img{
    width: 15px;
    height: auto;
}
nav h1{
    text-align: center;
    font-size:0.8em;

}
.currentdate{
    width: 100%;
    text-align: center;
    background-color: #F24236;
    font-size: 0.5em;
    display:flex;
    align-items: center;
}
nav{
    margin: 0 auto;
    background-color: #2E86AB;
    border-radius: 5px;
    border: solid 1.5px #565554;
    
    
}
nav ul{
    list-style: none;
    overflow:hidden;
}

nav ul li {
    text-align: center; 
    box-sizing: border-box;

   
}
nav ul li :hover{
    background:#d4a677 ;
}
nav ul li a{
    text-decoration: none;
    
}
nav ul li a:link, nav ul li a:visited{
    color: black;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid black;
    
}