
*{
    margin:0 auto;
    padding: 0;
}
body{
width: 100%;
height: auto;
margin: 0 auto;
font-family: 'Arvo', serif;
}
#meetingbox{
    background-color:#2E86AB;
    color: white;
    text-align: center;
    padding: 10px;
    border:none;
    border-radius: none;

}
header{    
    width: 100%;
    display: flex;
    background-color: #2E86AB;
}
.logo{
    width: auto;
    height: 30px;
    margin: 20px 5px 10px 5px;
    box-shadow: 6px 6px 6px #1d1c1c;
    display: flex;
    }
.logo2  {
    width: auto;
    height: 30px;
    margin: 10px 5px 10px 10px;
    box-shadow: 6px 6px 6px #1d1c1c;   
}

.social img{
    width: 23px;
    height: auto;
    padding: 2px;
    background-color: white;
 }
header h1{
    text-align: center;
    font-size:1.1em;
    padding: 0px 10px 0 5px;
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    color: white;
}
.currentdate{
    width: 100%;
    text-align: center;
    background-color: #F24236;
    font-size: 0.9em;
    align-items: center;
    padding: 5px 0;
    color: white;
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border:none;
    font-size: 2rem;
    padding-top: 10px;
}
nav{
    margin: 0 auto;
    background-color: #F6F5AE;
    border-radius: 5px;
    border: solid 1.5px #565554;
    padding: 0 2px;
    
}
nav ul{
    list-style-type: none;
    display: none;
    padding: 0;
}
nav ul.open{
    display: block;
}

nav ul li {
    text-align: center; 
    box-sizing: border-box;

   
}
nav ul li :hover{
    background-color:#F24236 ;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: .8rem 2vw;
    border-top:1px solid rgba(0, 0, 0, 0.5);   
}

nav ul li a:link, nav ul li a:visited{
    color: black;
    display: block;
    padding: 5px 0;
}

nav ul li.active a{
    background-color: #F24236;
    color: white;
}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

main{
    margin-top: 10px;
}

.hero{
    border:#F24236 solid 1px;
  
    margin-bottom: 5px;
    background-color: #cdcbc9cf;
}
.hero img{
    
    width: 100%;
    height: auto ;
    display: block;
    object-fit: cover;
    
}

.news{
    border:#F24236 solid 1px;
    padding-bottom: 170px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    
}
.news img{
    width: 410px;
    height: 260px;
    position: relative;
   
    border-radius: 5px;
}
.news p{
    position: relative;
    
    width: 80%;
    background-color: #2E86AB;
    opacity: 75%;
    border-radius: 5px;

}
.event{
    border:#F24236 solid 1px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.event img{
    width: 410px;
    height: 380px;
   

}
.event h2{
    color: white;
    position: relative;
    bottom:320px;
    left: 70px;
}
.weather-box{
    border:#F24236 solid 1px;
    padding-bottom: 90px;
    margin-bottom: 5px;
    background-color: #2E86AB;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
}
.join{
    border:#F24236 solid 1px;
    margin-bottom: 5px;
    background-color: #2E86AB;
    color:white;
}
.pjoin{
font-size: 14px;
text-align: center;
padding-top: 5px;
position: relative;
bottom: 100px;
background-color:#2E86AB;
opacity: 75%;
border: black 0.5px solid;
width: 90%;
border-radius: 5px;
text-shadow: white;
}
.joinbottom{
    background-color: #F24236;
    border: #2E86AB 1.5px solid;
    margin:125px;
    border-radius: 5px;
    padding: 0px 50px;
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    bottom: 238px;
    position: relative;
}
.join img{
    width: 409px;
    height: 301px;
}

.spotlight{
    border:#F24236 solid 1px;
    padding-bottom: 80px;
    margin-bottom: 5px;
    background-color:#2E86AB ;
}
.spot1 {
    border:#F24236 solid 1px;
    margin: 10px auto 10px auto;
    padding-bottom: 120px;
    width: 90%;
    background-color: #F6F5AE;
}
.spot2{
    border:#F24236 solid 1px;
    margin: 4px auto;
    padding-bottom: 120px;
    width: 90%;
    background-color: #F6F5AE;
}
.spot3{
    display: none;
    background-color: #F6F5AE;
}
footer{
    background-color: #2E86AB;
    color:white;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}
.direction{
    border-bottom: #F24236 solid 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*-------Discover----------*/

.maindiscover{
    text-align: center;
}

/*---------Join---------*/
.form_title {
    background-color: #2E86AB;
    font-family: 'Ubuntu', sans-serif;;
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
fieldset {
    border: 1px solid #F24236;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
legend {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}
label.top {
    display: block;
    padding-top: 1.2rem;
    color: black;
    font-size: .8rem;
}
label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    padding: .75rem;
    width: 85%;
    max-width: 24rem;
    background-color: #e4e1e1;
}
label.top input:required {
    border-left: red solid 5px;
}
label.top input:required:valid {
    border-left: #51c58f solid 5px;
}
label.chose {
    display: block;
    padding-top: .5rem;
    font-size: 1rem;
}
input.submitbtn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border: none;
    background-color: #F24236;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
textarea {
    width: 100%;
    resize: none;
    background-color: #e4e1e1;
}
input.submitbtn:hover {
    background-color: #51c58f;
}
.membership_container {
   display: none;
   color: #1d1c1c;
   background-color: white;
}
.thanks{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 50px;
    border: solid 1px #F24236 ;
    border-radius: 15px;
    width: 50%;
    padding-bottom: 20px;
}

.thanks p{
    text-align: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.fthanks{
    margin-top: 200px;
}
.npmember{
    color: #1d1c1c;
    background-color: white;
}
.h2np{
    background-color: #2E86AB;
    color: white;
    margin-top: 20px;
    
}
/*Directory*/

.directory-h1 {
    background-color: #2E86AB;
    color: white;
    margin: 0;
    padding: 5px 0;
    font-family: 'Arvo', serif;
    text-align: center;
}
.menu {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}
.menu button {
	padding: 5px 30px;
    border-radius: 5px;
    border:solid;
    background-color: #F24236;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
}
.menu button:hover {
    background-color: #2E86AB;
    color: white;
    transition: 0.20s;
}

section {
	padding: 1rem;
	background-color:#2E86AB;
    border: 3px solid #F24236 ;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    
    
}
.grid .cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    color: white;
    
}
.grid section {
	flex-direction: column;
	text-align: center;
    margin: 0.75rem;
    height: 250px;
    padding: 25px;
    font-family: 'Arvo', serif;
    color:white;
}
img {
	height: 75px;
	max-width: 100%;
}
.list {
	display: flex;
	flex-direction: column;
    color: white;
}

.list section {
	align-items: center;
    margin: 15px;
    flex-direction: row;
	justify-content: center;
    color: white;
    
}
.grid section > * {
	margin: 0 auto;
    font-family: 'Arvo', serif;
} 

.list section > * {
	margin: 0 1rem;
	text-align: center;
    font-family: 'Arvo', serif;
    color: white;
    
}
.list img {
    display: none;
}