*{
    margin:0 auto;
    padding: 0;
}
body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Arvo', serif;
}

h1{
    width: 100%;
    background-color:#2E86AB;
    margin-bottom: 5px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    color:white;
    border: #F24236 solid 1.5px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    
    background-color: #F6F5AE;
    border-radius: 5px;
    border: solid 1.5px #565554;
    
    
}
nav ul{
    list-style: none;
    
    
    
}
nav ul li {
    text-align: center;
    width: 25%; 
    box-sizing: border-box;

   
}
nav ul li :hover{
    background:#d4a677 ;
}
.last{
    border-bottom: none;
}
nav ul li a{
    text-decoration: none;
    
}
nav ul li a:link, nav ul li a:visited{
    color: black;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid black;
    
}
main{
    justify-content: space-around;
}
h3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}
p{
    text-align: center;
    margin: 15px 0;
}
img{
    width: 50%;
    height: auto;
    margin: 40px 0 0 100px;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    object-fit: cover;
}
footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #2E86AB;
    margin-top: 250px;
    border-radius: 5px;
    color:white;
    border: #F24236 solid 1.5px;
}


/*Target Audience*/
.twopersonas{
    text-align: center;
    margin-top: 10px;
}
.albert{
    border: #F24236 solid 2px;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 5%;
    padding:5px;
}
.cristina{
    border: #F24236 solid 2px;
    text-align: center;
    width: 60%;
    padding:5px;

    border-radius: 5%;
}
.targetaudience{
    text-align: center;
    margin-top: 25px;
}
.target{
    width: 60%;
}
.scenarios{
    margin-top: 20px;
    text-align: center;
}
.list{
    border: #F24236 solid 2px;
    padding: 10px 10px 10px 10px;  
    list-style:decimal;
    list-style-position:inside;
    width: 60%;
    margin-top: 25px;
    border-radius: 5%;
}
@media only screen and (min-width: 37.5em) {
    body{
        max-width: 90%;
       margin: 10px auto;
    }
    
	h1 {
		font-size: 1.5rem;
	}

	 		
    nav ul { 
        display: flex; 
    }
		  
    nav ul li { 
        flex: 1 1 auto; 
        border-right: 1px solid black;
    } 
.last{
        border-right: none; }
    
main {
		grid-template-columns: 1fr 1fr;
	}
    img{
        width: 50%;
       
    }
	
    article:nth-child(3) {
		grid-column: span 2;
	}
	.twopersonas{
        text-align: center;
        margin-top: 10px;
    }
    .albert{
        border: #F24236 solid 2px;
        text-align: center;
        float: center;
        width: 50%;
        margin: 20px 0 20px 120px;
        border-radius: 5%;
        padding:5px;
    }
    .cristina{
        border: #F24236 solid 2px;
        text-align: center;
        float: center;
        width: 50%;
        margin: 20px 0 20px 120px;
        padding:5px 5px 45px 5px;
    
        border-radius: 5%;
    }
    .targetaudience{
        text-align: center;
        margin-top: 20px;
    }
    .target{
        width: 60%;
    }
    .scenarios{
        margin-top: 50px;
        text-align: center;
    }
    .list{
        border: #F24236 solid 2px;
        padding: 10px 30px 10px 40px;  
        list-style:decimal;
        list-style-position:inside;
        width: 20%;
        margin-top: 25px;
        border-radius: 5%;
    }
}

@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
    .last{
        border-right: none;
        border-bottom: none;
     }
     .albert{
        border: #F24236 solid 2px;
        text-align: center;
        float: center;
        width: 50%;
        margin: 20px 0 20px 280px;
        border-radius: 5%;
        padding:5px;
    }
    .cristina{
        border: #F24236 solid 2px;
        text-align: center;
        float: center;
        width: 50%;
        margin: 20px 0 20px 280px;
        padding:5px 5px 45px 5px;
    
        border-radius: 5%;
    }
    .targetaudience{
        text-align: center;
        margin-top: 20px;
    }
    .target{
        width: 60%;
    }
    .scenarios{
        margin-top: 50px;
        text-align: center;
    }
    .list{
        border: #F24236 solid 2px;
        padding: 10px 30px 10px 40px;  
        list-style:decimal;
        list-style-position:inside;
        width: 20%;
        margin-top: 25px;
        border-radius: 5%;
    }
 }